.Counter {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  box-sizing: border-box;
}

.Icon {
  font-size: 50px;
}

.PlusButton {
  font-size: 20px;
  cursor: pointer;
}

.alertButton {
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .Counter {
    width: 100px;
    height: 100px;
  }
  .Icon {
    font-size: 10px;
  }

  .PlusButton {
    font-size: 15px;
    cursor: pointer;
  }
}
